*{
    padding: 0;
    margin: 0;
}
body{ 
    width: 70vw;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    
}
main{
   height: 100vh;
    background-color: rgb(245, 250, 250);  
}
h2{
    padding: 2vh;
}
form{
    padding: 2vh;
}

li{ 
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  width: 30vw;
  padding: 0 2vh;
}
li:nth-child(odd){
    border-bottom: 1px black solid;
}

li:nth-child(even){
    border-bottom: 1px gray solid;
}

button.remove{
    width: 2vw;
    height: 3vh;
    background: url(./trash-can.png) center no-repeat;
    background-color: rgba(255, 0, 0, 0.575);
    border: none;
    
}